.footerContenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff; }
  .footerContenedor a {
    text-decoration: none;
    color: #fff; }

.carousel {
  margin-bottom: 16px; }

.listadoProductos {
  margin-right: 0px;
  margin-left: 0px; }
