.navbar-brand:hover {
  color: #ff968a !important; }

footer {
  background-color: #212529;
  padding-top: 2px; }
  footer .contenedorFooter .footerInformativo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    justify-content: center;
    align-content: center;
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-areas: "footerContactos footerEnlaces footerSuscripcion" "footerReservados footerReservados footerReservados"; }
    footer .contenedorFooter .footerInformativo .footerContactos {
      grid-area: footerContactos; }
      footer .contenedorFooter .footerInformativo .footerContactos .titulo {
        font-weight: bold;
        width: 100%;
        text-align: center;
        color: #fff; }
      footer .contenedorFooter .footerInformativo .footerContactos .subtitulo {
        font-size: 12px;
        text-align: center;
        color: #fff; }
      footer .contenedorFooter .footerInformativo .footerContactos .footerRedes {
        display: flex;
        justify-content: center; }
        footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a {
          color: #fff; }
          footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a:hover i {
            color: #ca6095; }
    footer .contenedorFooter .footerInformativo .footerEnlaces {
      grid-area: footerEnlaces;
      display: flex;
      flex-direction: column; }
      footer .contenedorFooter .footerInformativo .footerEnlaces .titulo {
        font-weight: bold;
        width: 100%;
        text-align: center;
        color: #fff; }
      footer .contenedorFooter .footerInformativo .footerEnlaces .subtitulo {
        font-size: 12px;
        text-align: center;
        color: #fff;
        text-decoration: none;
        cursor: pointer;
        color: #fff;
        padding-bottom: 4px; }
        footer .contenedorFooter .footerInformativo .footerEnlaces .subtitulo:hover {
          text-decoration: underline; }
    footer .contenedorFooter .footerInformativo .footerSuscripcion {
      grid-area: footerSuscripcion; }
      footer .contenedorFooter .footerInformativo .footerSuscripcion .titulo {
        font-weight: bold;
        width: 100%;
        text-align: center;
        color: #fff;
        margin-bottom: 8px; }
      footer .contenedorFooter .footerInformativo .footerSuscripcion .formularioSuscripcion {
        width: 50%;
        margin: auto; }
    footer .contenedorFooter .footerInformativo .footerReservados {
      grid-area: footerReservados;
      text-align: center;
      padding-top: 2px; }
      footer .contenedorFooter .footerInformativo .footerReservados p {
        padding-top: 4px;
        margin-bottom: 0;
        font-size: 12px;
        color: #fff; }

@media (max-width: 768px) {
  footer .contenedorFooter {
    padding: 0 16px; }
    footer .contenedorFooter .footerInformativo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "footerContactos footerEnlaces"  "footerSuscripcion footerSuscripcion"  "footerReservados footerReservados"; }
      footer .contenedorFooter .footerInformativo .footerContactos {
        grid-area: footerContactos; }
        footer .contenedorFooter .footerInformativo .footerContactos .titulo {
          font-weight: bold;
          width: 100%;
          text-align: center;
          color: #fff; }
        footer .contenedorFooter .footerInformativo .footerContactos .subtitulo {
          font-size: 12px;
          text-align: center;
          color: #fff; }
        footer .contenedorFooter .footerInformativo .footerContactos .footerRedes {
          display: flex;
          justify-content: center; }
          footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a {
            color: #fff; }
            footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a:hover i {
              color: #ca6095; }
      footer .contenedorFooter .footerInformativo .footerEnlaces {
        grid-area: footerEnlaces;
        display: flex;
        flex-direction: column; }
        footer .contenedorFooter .footerInformativo .footerEnlaces .titulo {
          font-weight: bold;
          width: 100%;
          text-align: center;
          color: #fff; }
        footer .contenedorFooter .footerInformativo .footerEnlaces .subtitulo {
          font-size: 12px;
          text-align: center;
          color: #fff;
          text-decoration: none;
          cursor: pointer;
          color: #fff;
          margin-bottom: 4px; }
      footer .contenedorFooter .footerInformativo .footerSuscripcion {
        grid-area: footerSuscripcion;
        display: none; }
      footer .contenedorFooter .footerInformativo .footerReservados {
        grid-area: footerReservados;
        text-align: center;
        padding-top: 2px; }
        footer .contenedorFooter .footerInformativo .footerReservados p {
          margin-bottom: 0;
          color: #fff; } }

@media (max-width: 480px) {
  footer .contenedorFooter {
    padding: 0 16px; }
    footer .contenedorFooter .footerInformativo {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      justify-content: center;
      align-content: center;
      grid-row-gap: 16px;
      grid-column-gap: 16px;
      grid-template-areas: "footerContactos footerContactos"  "footerSuscripcion footerSuscripcion"  "footerReservados footerReservados"; }
      footer .contenedorFooter .footerInformativo .footerContactos {
        grid-area: footerContactos; }
        footer .contenedorFooter .footerInformativo .footerContactos .titulo {
          font-weight: bold;
          width: 100%;
          text-align: center;
          color: #fff; }
        footer .contenedorFooter .footerInformativo .footerContactos .subtitulo {
          font-size: 12px;
          text-align: center;
          color: #fff; }
        footer .contenedorFooter .footerInformativo .footerContactos .footerRedes {
          display: flex;
          justify-content: center; }
          footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a {
            color: #fff; }
            footer .contenedorFooter .footerInformativo .footerContactos .footerRedes a:hover i {
              color: #ca6095; }
      footer .contenedorFooter .footerInformativo .footerEnlaces {
        grid-area: footerEnlaces;
        display: none; }
      footer .contenedorFooter .footerInformativo .footerSuscripcion {
        grid-area: footerSuscripcion;
        display: none; }
      footer .contenedorFooter .footerInformativo .footerReservados {
        grid-area: footerReservados;
        text-align: center;
        padding-top: 2px; }
        footer .contenedorFooter .footerInformativo .footerReservados p {
          margin-bottom: 0;
          color: #fff; } }

.carousel {
  margin-bottom: 16px; }

.contenedorInformativo div div {
  background-color: #212121; }

.table {
  color: #b9b0af; }

.contenedorProductos .listadoProductos {
  margin-right: 0px;
  margin-left: 0px; }
  .contenedorProductos .listadoProductos div .card {
    box-shadow: #ff968a 0px 2px 8px 0px;
    background-color: #212121; }
    .contenedorProductos .listadoProductos div .card:hover {
      box-shadow: #ff968a 0px 30px 60px -12px inset, #ff968a 0px 18px 36px -18px inset; }
    .contenedorProductos .listadoProductos div .card button {
      background-color: #ff968a;
      color: #212121;
      font-weight: bold;
      border: none; }
      .contenedorProductos .listadoProductos div .card button:hover {
        box-shadow: 0 0 10px 0 #ff968a inset, 0 0 10px 4px #ff968a;
        background-color: #FFC0CB; }
    .contenedorProductos .listadoProductos div .card .card-img-top {
      border-radius: 50px;
      box-shadow: #ff968a 0px 5px 15px; }

.contenedorBusqueda {
  background-color: #000000; }
  .contenedorBusqueda .cardBuscador {
    background-color: #000000; }
    .contenedorBusqueda .cardBuscador form {
      padding-right: 8px;
      padding-left: 8px; }
      .contenedorBusqueda .cardBuscador form input:focus {
        border-color: #ff968a;
        box-shadow: #ff968a 0px 2px 8px 0px; }
      .contenedorBusqueda .cardBuscador form button {
        background-color: #ff968a;
        color: #212121;
        font-weight: bold;
        border: none; }
        .contenedorBusqueda .cardBuscador form button:hover {
          box-shadow: 0 0 10px 0 #ff968a inset, 0 0 10px 4px #ff968a;
          background-color: #FFC0CB; }

.contenedorPerfumes div .nav-link {
  color: #ff968a !important; }

.contenedorPerfumes div .nav-link:active {
  background-color: #212121; }

.contenedorPerfumes div .nav-link:focus {
  background-color: #212121; }

.contenedorPerfumes div .nav-pills .nav-link.active, .contenedorPerfumes div .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #212121; }

.seccionContacto form {
  box-shadow: 5px 5px 10px 0px #ff968a;
  background: #000000;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #000000, #212121);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #000000, #212121); }
  .seccionContacto form button {
    background-color: #ff968a;
    color: #212121;
    font-weight: bold;
    border: none; }
    .seccionContacto form button:hover {
      box-shadow: 0 0 10px 0 #ff968a inset, 0 0 10px 4px #ff968a;
      background-color: #FFC0CB; }

body {
  background-color: #000000;
  color: #b9b0af; }
